[submodule "third-party/protobuf"]
	path = third-party/protobuf
	url = https://github.com/protocolbuffers/protobuf
	branch = 21.x
[submodule "pixels-duckdb"]
	path = pixels-duckdb
	url = https://github.com/pixelsdb/duckdb.git
